<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>good_cake.png</string>
		<key>title</key>
		<string>水果蛋糕</string>
		<key>content</key>
		<string>生日蛋糕 奶油水果蛋糕 生日鲜花速递全国配送 款式5一10寸 蛋糕适合8人
同城配送，可当天送到！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_clock.png</string>
		<key>title</key>
		<string>钟表</string>
		<key>content</key>
		<string>天王星（Telesonic）挂钟 静音扫描高级石英钟S9956-4银【京东自营】带你旅行带你飞！闹钟挂钟元旦狂欢！全场每满100立减10元！活动时间：2014.12.30-2015.1.5！点击参与抢购！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_coca.png</string>
		<key>title</key>
		<string>可口可乐</string>
		<key>content</key>
		<string>可口可乐碳酸饮料汽水330ml罐
比11.11更爽快新店开张每单满59元送20瓶饮料一箱数量有限快快来抢！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_coffee.png</string>
		<key>title</key>
		<string>咖啡</string>
		<key>content</key>
		<string>Nestle雀巢咖啡1+2特浓30条390g
双旦大 Party ,雀巢约惠你，全场99减20元，199减50元，限时抢购点击抢购</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_football.png</string>
		<key>title</key>
		<string>足球</string>
		<key>content</key>
		<string>火车头Train5号高级PU足球TS5911
京东自营！享受京东极致服务！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_gift.png</string>
		<key>title</key>
		<string>大礼包</string>
		<key>content</key>
		<string>坚果礼盒森林大礼包C套餐7包坚果1635g 坚果礼盒 年货大礼包 AA4
松鼠跨年大促，爆款单品6.9元起，百万优惠券首页领取！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_gold.png</string>
		<key>title</key>
		<string>金皇冠</string>
		<key>content</key>
		<string>黄金足金Charme串珠系列转运珠皇冠 83631p 定价
串珠配绳（17/19/40/45厘米），请4选1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_heart.png</string>
		<key>title</key>
		<string>心形抱枕</string>
		<key>content</key>
		<string>巧致生活 心形抱枕 可爱婚庆爱心抱枕 靠垫抱枕 水晶之恋axbz 最宽处50cm</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_lemon.png</string>
		<key>title</key>
		<string>柠檬</string>
		<key>content</key>
		<string>佳利麦 黄柠檬 美国进口鲜柠檬 4个装 新奇士 新鲜水果
北京上海满50包邮 自有物流次日达 其他地区发全峰快递</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_light.png</string>
		<key>title</key>
		<string>灯泡</string>
		<key>content</key>
		<string>飞利浦PHILIPS LED灯泡 球泡 3W E27大螺口 日光色 白光
节能，环保安全，超长寿命，国际品牌，品质无忧！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_phone.png</string>
		<key>title</key>
		<string>电话座机</string>
		<key>content</key>
		<string>TCL HCD868(17B)TSD 免电池来电显示电话机家用办公座机（灰白）
畅销15年！TCL经典办公电话！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_pig.png</string>
		<key>title</key>
		<string>毛绒小猪</string>
		<key>content</key>
		<string>恋磨坊 水果麦兜一套 小猪公仔 麦兜布娃娃 毛绒玩具 车内挂饰 8个一套 18cm
11.11 全场特价 五折包邮 送礼佳品 可爱卡通 女生日礼物正品</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_rice.png</string>
		<key>title</key>
		<string>大米</string>
		<key>content</key>
		<string>十月稻田五常长粒香大米5kg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>good_rose.png</string>
		<key>title</key>
		<string>鲜花</string>
		<key>content</key>
		<string>鲜花速递礼盒19朵 生日鲜花 红玫瑰花束【最快2小时送达】鲜花快递全国花店送花配送 H-19朵红玫瑰礼盒
【&apos;&apos;19朵&apos;&apos; 长长久久的爱】高档鲜花礼盒送女友 生日浪漫礼物</string>
	</dict>
</array>
</plist>
